/* div{
    border: 3px black solid;
    margin: 10px;
    min-width: 300px;
} */

.createContentPusher{
    display: flex;
    justify-content: center;
}

.groceryEditHolder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F2EBCF;
    width: 80%;
    padding: 30px;
    border-radius: 20px;
    margin-top: 5%;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 255, .2);

}

.storeItemsScroll{
    overflow: scroll;
    height: 400px;
}

.userListCardHolder{
    overflow: scroll;
    height: 400px;
}

.storeHeader{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.categories{
    height:30px;
    margin-top:15px;
}

.selectedItemCard{
    background-color: #A1D0D8;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 255, .2);
}



