div{
    border: 3px black solid;
    margin: 10px;
    min-width: 300px;
}

.groceryEditHolder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.storeItemsScroll{
    overflow: scroll;
    height: 400px;
}

.userListCardHolder{
    overflow: scroll;
    height: 400px;
    border: 3px red solid !important;
}

.storeHeader{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.categories{
    height:30px;
    margin-top:15px;
}



