/* div{
    border: 3px black solid;
    margin: 10px;
    min-width: 300px;
} */

.createContentPusher{
    display: flex;
    justify-content: center;
}

.groceryEditHolder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F2EBCF;
    width: 60%;
    padding: 30px;
    border-radius: 20px;
    margin-top: 5%;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 255, .2);
}

.storeItemsScroll{
    overflow: scroll;
    height: 400px;
    width: 250px;
    background-color: #C3AE84;
    border-radius: 10px;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 255, .2) inset;

}

.userListCardHolder{
    overflow: scroll;
    height: 400px;
    width: 250px;
    background-color: #C3AE84;
    border-radius: 10px;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 255, .2) inset;
}

.storeHeader{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.categories{
    height:30px;
    margin-top:15px;
}

.selectedItemCard{
    background-color: #A1D0D8;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 255, .2);
    margin: 15px;
}

.flexHolder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.upCardButton{
    margin-bottom: none;
    border: 1px black solid;
    border-bottom: none;
    width: 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #8EB948;
}


.quantityCounter{
    text-align: center;
    border-right: 1px black solid;
    border-left: 1px black solid;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    background-color: white;
}

.downCardButton{
    margin-top: none;
    border: 1px black solid;
    border-top: none;
    width: 30px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #8EB948;
}

.storeHeader{
    margin-top: 20px;
}

.allFoodItemCard{
    background-color: #A1D0D8;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 255, .2);
    margin: 15px;
}

.foodImage{
    width: 120px;
}

.addToList{
    margin-top: 15px;
    padding: 10px;
      padding-left: 15px;
      padding-right: 15px;
      background-color: #8EB948;
      border: none;
      border-radius: 5px;
      box-shadow: 2px 1px 2px 1px rgba(0, 0, 255, .2);
      margin-right:20px;
}
.addToList:hover{
    background-color: #19404D;
    color:white;
    box-shadow: none;
  }

  .cardButton{
    margin-top: 20px;
    margin-left: 20px;
  }

  .form-control{
      width: 97%;
  }